{% set cur_tab = 'index' %}

{% extends "base.html" %}

{% block body %}
<h1>Zach Howell</h1>
    <img class="right" src="static/imgs/meCapeCod.jpg">
    <h3>Contact Info</h3>
        <p>zachariah.howell@gmail.com</p>
        <p>(919) 800-8721</p>
        <p>416 N. Saunders Ave., Philadelphia, PA, 19104 </p>
    <h3>About</h3>
        <p>I'm a fourth year Computer Science student at Drexel University.  I have extensive experience with C# - both from writing numerous games using Unity and two coops doing ASP.NET MVC web development. Currently I'm looking for a game development coop (six month internship) starting in April 2015.  </p>
        <p>Check out my <a href="./games.html">Games</a> and <a href="./resume.html">Resume</a> for more.  </p>
{% endblock %}

