{% set cur_tab = 'index' %}

{% extends "base.html" %}

{% block body %}
<h1>Zach Howell</h1>
    <img class="right" src="static/imgs/meCapeCod.jpg">
    <h3>Contact Info</h3>
        <p>zachariah.howell@gmail.com</p>
        <p>(919) 800-8721</p>
        <p>1260 Republican St, Seattle WA 98109 </p>
    <h3>About</h3>
        <p>I graduated from Drexel University in 2016 and have been working for Google since then. As a software developer at Google, I've worked on two teams on Android, web, and VR. In school, I started a business and released a game "Alchemia" to Google Play. I continue to work on games in my spare time. Contact me if you want to know more! </p>
        <p>Check out my <a href="./games.html">Games</a> and <a href="./resume.html">Resume</a> for more.  </p>
{% endblock %}

